<div class="main" *ngIf="selectedStation!=undefined">
    <div>
        <h1>{{selectedStation.name}}</h1>
        <audio width="300" height="32" controls="controls" autoplay="autoplay" [src]="selectedStation.url"></audio>
    </div>
</div>
<!-- <div *ngSwitchCase=" 'Al houria FM' ">
        <h1>Al houria FM</h1>
        <audio controls autoplay
            src="http://rs.hadara.ps:8000/;stream.mp33&13202692901&duration=99999&id=scplayer&autostart=true "
            type="audio/mpeg "> </audio>
    </div>
    <div *ngSwitchCase=" 'Al rabia' ">
        <h1>Al rabia</h1>
        <audio controls autoplay
            src="http://radio.r4fm.ps:8044/;stream.mp3&13202692901&duration=99999&id=scplayer&autostart=true "
            type="audio/mpeg "> </audio>
    </div>
    <div *ngSwitchCase=" 'marah FM' ">
        <h1>marah FM</h1>

        <audio controls autoplay src="http://rs.hadara.ps:8056/;stream.mp3 " type="audio/mpeg "></audio>
    </div>
    <div *ngSwitchCase=" 'Ajyal FM' ">
        <h1>Ajyal FM</h1>

        <audio controls autoplay source src="http://icecast.mada.ps:8095/ajyalnew " type="audio/mpeg "></audio>
    </div>
    <div *ngSwitchCase=" 'Alfajer' ">
        <h1>Alfajer</h1>

        <audio controls autoplay
            src="http://rs.hadara.ps:8004/;stream.mp3&13202692901&duration=99999&id=scplayer&autostart=true "
            type="audio/mpeg "> </audio>
    </div>
    <div *ngSwitchCase=" 'Kl elnas' ">
        <h1>Kl elnas</h1>

        <audio controls autoplay
            src="http://mmbradio1.serverroom.us:5206/;stream.mp3&amp;13202692901&amp;duration=99999&amp;id=scplayer&amp;autostart=true "
            type="audio/mpeg "> </audio>
    </div>
    <div *ngSwitchCase=" 'Power' ">
        <h1>Kl elnas</h1>

        <audio src="http://rs.hadara.ps:8044/listen.pls/;listen.pls?sid=1 " autoplay="true " controls="true "
            volume="1.0 "></audio>

    </div>
    <div *ngSwitchCase=" 'Al balad' ">
        <h1>Kl elnas</h1>

        <audio src="http://live.masterweb-ps.com:8006/;mp3 " preload="auto " controls=" " autoplay=" " loop=" "></audio>
    </div>
    <div *ngSwitchCase=" 'Quran' ">
        <h1>Kl elnas</h1>

        <audio controls autoplay
            src="http://www.quran-radio.org:8002/;stream.mp3&13202692901&duration=99999&id=scplayer&autostart=true "
            type="audio/mpeg "> </audio>
    </div>
    <div *ngSwitchCase=" 'aroba FM' ">
        <audio controls=" " autoplay=" " name="media ">
            <source src="http://icecast.mada.ps:8096/anghamnew " type="audio/mpeg ">
        </audio>
    </div>
    <div *ngSwitchCase=" 'raya FM' ">
        <h1>Not Supported</h1>
    </div>
    <div *ngSwitchCase=" 'Amoaj FM' ">
        <h1>Not Supported</h1>
    </div>
    <div *ngSwitchCase=" 'Baldna' ">
        <h1>Not Supported</h1>
    </div>
</div> -->